<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website for the course Imperative programming">
    <title>Universiteit Utrecht</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/register.css">
      <link rel="stylesheet" type="text/css" href="../public/stylesheets/registerAnimation.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../public/javascripts/main.js" defer></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <header class="header">
      <img class="header__image" src="../public/images/logo-nl.svg" alt="Universtity Utrcht logo">
      <section class="header__user">
        <h4 class="header__username">
          <%= username %>
        </h4>
        <img class="header__loginimage" src="../public/images/unnamed.png">
      </section>
      <section class="header__buttons">
        <% if(showLogin) { %>
          <a class="menu__logout" href="#" onclick="openLogin()">Inloggen</a>
          <a class="menu__logout" href="/register" title="Register">Register</a>
        <% }else{ %>
          <a class="menu__logout" href="/acount">Account</a>
          <form class="menu__innerlist" action="/logout" method="get">
              <button class="menu__logout" type="submit">Uitloggen</button>
          </form>
        <% } %>
      </section>
    </header>
    <nav class="search">
      <section class="search__section">
        <form class="searching-tools" action="/zoeken" method="post">
          <input class="search-container" type="text" placeholder="zoeken.." name="search">
          <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
        </form>
      </section>
    </nav>
    <nav class="menu">
      <ul class="menu__outerunorderdlist">
        <li class="menu__outerlist">
          <ul class="menu__outerunorderdlist">
            <li class="menu__innerlist"><a class="menu__link" href="/">Home</a></li>
            <li class="menu__innerlist">
              <form class="searching-tools" action="/zoeken" method="post">
                <button class="menu__innerlink menu__courses" type="submit">Beta Faculteit</button>
              </form>
              <ul class="menu__submenu">
                <li class="menu__innerlist1"><a class="menu__innerlink" href="">
                  <form class="searching-tools" action="/zoeken" method="post">
                    <input class="menu__search" type="text" name="program" value="Informatica">
                    <button class="menu__innerlink menu__courses" type="submit">Informatica</button>
                  </form>
                </a></li>
                <li class="menu__innerlist1"><a class="menu__innerlink" href="">
                  <form class="searching-tools" action="/zoeken" method="post">
                    <input class="menu__search" type="text" name="program" value="Game Technologie">
                    <button class="menu__innerlink menu__courses" type="submit">Game Technologie</button>
                  </form>
                </a></li>
                <li class="menu__innerlist1"><a class="menu__innerlink" href="">
                  <form class="searching-tools" action="/zoeken" method="post">
                    <input class="menu__search" type="text" name="program" value="Informatiekunde">
                    <button class="menu__innerlink menu__courses" type="submit">Informatiekunde</button>
                  </form>
                </a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <section class="login" id="login">
      <div class="login__text">
        Student Login
      </div>
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" data-icon="U">
        <input type="password" name="password" placeholder="Password" data-icon="x">
        <button class="login__button" type="submit">Submit</button>
      </form>
    </section>
    <section class="register">
      <div class="register__intro">
        <h1 class="register__title"><span class="logo">Registreer</span></h1>
      </div>
      <form action="/register" method="post" class="register__login animated fadeInUp">
        <div class="register__box-header">
          <h2 class="register__sub-title">Vul hier uw gegevens in</h2>
        </div>
        <div class="register__input">
          <h4>Voornaam</h4>
          <input class="input" type="text" id="username" name="first_Name" placeholder="Gijs" required>
        </div>
        <div class="register__input">
          <h4>Midden-naam</h4>
          <input class="input" type="text" id="username" name="middle_Name" placeholder="van Der">
        </div>
        <div class="register__input">
          <h4>Achternaam</h4>
          <input class="input" type="text" id="username" name="last_Name" placeholder="Wall" required>
        </div>
        <div class="register__input">
          <h4>E-mail</h4>
          <input class="input" type="email" id="username" name="email" placeholder="g.baker@students.uu.nl" required>
        </div>
        <div class="register__input">
          <h4>Wachtwoord</h4>
          <input class="input" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" type="password" id="password" name="password" placeholder="Wachtwoord" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : ''); if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);">
        </div>
        <div class="register__input">
          <h4>Wachtwoord</h4>
          <input class="input" title="Please enter the same Password as above" type="password" id="username" name="passwordCheck" placeholder="Bevestig wachtwoord" required required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');">
        </div>
        <div class="register__input">
          <h4>Niveau</h4>
          <div class="login-box__selsction" id="login-box__selsction">
            <div class="select__arrow"></div>
          </div>
        </div>
        <div class="register__input">
          <h4>Studie programma</h4>
          <div class="login-box__selsction" id="login-box__selsction1">
            <div class="select__arrow"></div>
          </div>
        </div>
        <div>
          <button class="register__button" type="submit">Registreer</button>
        </div>
      </form>
    </section>
    <footer class="footer">
      Webtech Assigment 3
      <p>
        Source: <a class="footer__link" href="https://www.uu.nl/onderwijs" target="_blank">Universiteit Utrecht | Onderwijs</a>
      </p>
    </footer>
  </body>
</html>
