@import "inputbox.css";

.account__courses {
    background-color: white;
    margin:           15px 15px;
    padding:          10px;
    overflow-y:       scroll;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.account__info {
    background-color: white;
    margin:           15px 15px;
    padding:          10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.deleteAcount{
    border: 2px rgba(255,0,0, .6) solid;
    text-align: center;
}

.naam__text{
    margin: 0;
}

.title{
    margin: 0;
}

.submit__changes{
    background-color: green;
    cursor:pointer;
	outline: none;
    color: white;
    font-family: inherit;
    font-size: 20px;
}

.input{
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .6em;
	color: #888;
}

.delete{
    background-color: red;
    margin-bottom: 10px;
}

.deleteHidden{
    display: none;
}

.ingeschreven_title{
    margin: 5px 0 0 5px;
}

.ingeschreven_title1{
    margin-bottom: 10px;
}

.paragraph{
    font-size: 15px;
    margin: 5px;
}

.ingeschreven{
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
    margin-bottom: 10px;
}

.deregister{
    text-align: center;
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .account {
    display: flex;
  }

  .account__courses {
    width: 40%
  }

  .account__info {
    width: 60%
  }
}
