@import "inputbox.css";

.firstDiv{
    margin: 20px 0;
}

.main__sectionInner{
    height: 705px;
    position: relative;
    display: inline-block;
    width: 20%;
    margin-right: 0;
    overflow-y: scroll;
    padding: 20px 30px;
}

.main__sectionInner1{
    margin-left: 5px;
    width: 55%;
    margin-right: 100px;
    display: inline-block;
    position: relative;
    height: 705px;
    padding: 20px 30px;
    overflow: auto;
}

.main__sectionInner::-webkit-scrollbar {
    width: 10px;
}

.main__sectionInner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.main__sectionInner::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.deleteAcount{
    border: 2px rgba(255,0,0, .6) solid;
    text-align: center;
}

.naam__text{
    margin: 0;
}

.title{
    margin: 0;
}

.submit__changes{
    background-color: green;
    cursor:pointer;
	outline: none;
    color: white;
    font-family: inherit;
    font-size: 20px;
}

.input{
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .6em;
	color: #888;
}

.delete{
    background-color: red;
    margin-bottom: 10px;
}

.deleteHidden{
    display: none;
}

.ingeschreven_title{
    margin: 5px 0 0 5px;
}

.ingeschreven_title1{
    margin-bottom: 10px;
}

.paragraph{
    font-size: 15px;
    margin: 5px;
}

.ingeschreven{
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
}

.deregister{
    text-align: center;
    margin-top: 10px;
}
