@import "acountpage.css";
@import "inputbox.css";

.main__sectionInner{
    overflow: hidden;
    align-content: center;
}

.main__sectionInner1{
    overflow: scroll;
    align-content: center;
}

.mainSection__div{
    align-content: center;
    width: 100%;
    margin: 0;
}

.search-container1{
    width: 100%;
}

.main__courses{
    width: 100%;
    background-color: rgba(0, 255, 0, .8);
    margin-bottom: 20px;
}

.title{
    margin: 0;
    margin-left: 10px;
}

.title1{
    margin-bottom: 10px;
}

.courseButton{
    width: 240px;
    height: 12px;
    padding-top: 14px;
    padding-bottom: 25px;
    border-radius: 6px;
    border: none;
    border-top: #4eb2a8 1px solid;
    border-bottom: #161616 1px solid;
    background: #349e92;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family: inherit;
    float: right;
}

.courses__align{
    display: inline-block;
    width: 45%;
}
